In [2]:
import pandas as pd 
import config

from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float

#from sqlalchemy.ext.declarative import declarative_base
#Base = declarative_base()
from sqlalchemy.ext.automap import automap_base

In [3]:
engine = create_engine(f'postgresql://postgres:{config.password}@localhost:5432/sql_challenge_db')
connection = engine.connect()
Base.metadata.create_all(engine)

In [4]:
# Declare a Base using an 'automap_base()'
Base = automap_base()

# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [9]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['dept_emp', 'dept_manager']

In [10]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [12]:
#class Salary(Base):
#    __tablename__ = "salaries"
#    emp_no = Column(Integer)
#    salary = Column(Integer)
first_row = session.query(dept_manager).first()
first_row.__dict__

NameError: name 'dept_manager' is not defined

In [ ]:

CREATE TABLE "employees" (
    "emp_no" int NOT NULL,
    "emp_title_id" varchar   NOT NULL,
    "birth_date" varchar   NOT NULL,
    "first_name" varchar   NOT NULL,
    "last_name" varchar   NOT NULL,
    "sex" varchar   NOT NULL,
    "hire_date" varchar   NOT NULL,
	UNIQUE(emp_no)
);

In [ ]:
salaries = session.query(salaries)
for s in salaries:
    print(s.salary)